<a href="https://colab.research.google.com/github/karthik-vana/INNOMATICS_INTERN/blob/main/Copy_of_INNOMATICS_Task_1%7BBasic%7D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

` Question - 1`

Input Format


- You do not need to read any input in this challenge.

Output Format


- Print Hello, World! to stdout.

In [ ]:

# Answer

my_string = "Hello, World!"
print(my_string)

Hello, World!

`Question - 2 `

Given an integer, , perform the following conditional actions:

- If  is odd, print Weird
- If  is even and in the inclusive range of  to , print Not Weird
- If  is even and in the inclusive range of  to , print Weird
- If  is even and greater than , print Not Weird

In [ ]:
n = int(input())
if n % 2 == 1:
    print("Weird")
elif n % 2 ==0 and 2 <= n <=5:
    print("Not Weird ")
elif n % 2 == 0 and 2 <= n <=20:
    print("Weird ")
elif n % 2 == 0 and n > 20:
    print("Not Weird")

3
Weird

` Question - 3`

The provided code stub reads two integers from STDIN,  and . Add code to print three lines where:

- The first line contains the sum of the two numbers.
- The second line contains the difference of the two numbers (first - second).
- The third line contains the product of the two numbers.

In [ ]:
a = int(input())
b = int(input())
print(a + b)
print(abs(a - b))
print(a * b)

2
3
5
1
6

` Question - 4`

The provided code stub reads two integers,  and , from STDIN.

- Add logic to print two lines.
-  The first line should contain the result of integer division,  // .
- The second line should contain the result of float division,  / .

- No rounding or formatting is necessary.

In [ ]:
a = int(input())
b = int(input())
print(a // b)
print(a / b)

2
4
0
0.5

` Quetion - 5`

- The provided code stub reads an integer, , from STDIN. For all non-negative integers i > n , print i^2.

In [ ]:
n = int(input())
for i in range (n):
    print(i * i)

3
0
1
4

` Question - 6`

- Given a year, determine whether it is a leap year. If it is a leap year, return the Boolean True, otherwise return False.

- Note that the code stub provided reads from STDIN and passes arguments to the is_leap function. It is only **necessary** to complete the is_leap function.

Input Format

- Read year , the year to test.

In [ ]:
def is_leap(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False
    leap = False

In [ ]:
is_leap(2028)

True

` Question - 7`

- The included code stub will read an integer,n , from STDIN.
Without using any string methods, try to print the following:


- Note that ".." represents the consecutive values in between.

- for Example n = 5,
Print the string 12345.

In [ ]:
n = int(input())
result = ''
for i in range(1 , n+1):
  result += str(i)
print(result)

3
123